.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: aquamarine;
    padding: 10px;
}

.grid-item {
    padding: 20px;
    background-color: aqua;
    border: 2px solid black;
    text-align: center;
}

.grid-item-1 {
    padding: 20px;
    background-color: aqua;
    border: 2px solid black;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.grid-item-8 {
    padding: 20px;
    background-color: aqua;
    border: 2px solid black;
    text-align: center;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
}